[data-theme="light"] {
  --color-bg: #ffffff;
  --color-bg2: #ffffff;
  --color-fg: #171616;
  --color-hd: #3e9598;
  --opposite-hd: #76ABAE;
  --toggle-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px, rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

[data-theme="dark"] {
  --color-bg: #222831;
  --color-bg2: #31363F;
  --color-fg: #EEEEEE;
  --color-hd: #76ABAE;
  --opposite-hd: #3e9598;
  --toggle-shadow: rgba(118, 171, 174, 0.2) 0px 3px 6px, rgba(118, 171, 174, 0.3) 0px 3px 6px, rgba(118, 171, 174, 0.3) 0px 3px 8px;
}

@mixin toggleIcon {
  width: 35px;
  height: 35px;
  transition: all 0.3s ease;
}

* {
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  transition: all 0.3s ease;

  nav {
    background-color: var(--color-bg2);
    height: 100px;
    width: 100%;
    display: block;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
  }
}

.books {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  gap: 50px 20px;
  justify-content: space-evenly;

  > .book-card {
    background-color: var(--color-bg2);
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.44) 0 3px 8px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.08);
    }

    > .description {
      width: 16rem;
      display: flex;
      flex-direction: column;
      gap: 20px;

      > h3 {
        color: var(--color-hd);
        font-size: 1.5rem;
      }

      > p {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 15px;  

        > span {
          font-size: 1.2rem;
          display: block;
        }

        .title {
          font-size: 1.2rem;
          font-weight: bold;
          display: block;
        }
      }
    }

    > img {
      width: 220px;
      height: 100%;
      border-radius: 7px;
    }
  }
}

#sun {
  @include toggleIcon;
}

#moon {
  @include toggleIcon;
}

.toggleButton {
  width: fit-content;
  position: fixed;
  bottom: 100px;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 8px 20px 8px 10px;
  background-color: var(--color-bg2);
  box-shadow: var(--toggle-shadow);
  border-right: 0;
  border-radius: 25px 0 0 25px;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease;
}

