<nav>
  <img class="logo" src="../../assets/logo.svg" alt="logo" />
  <div class="input">
    <img src="../../assets/search.svg" alt="search" />
    <input type="text" placeholder="Search" />
  </div>
  <div class="links">
    <a routerLink="/profile" routerLinkActive="active">
      <img class="profile" src="../../assets/profile.svg" alt="profile" />
    </a>
    <a routerLink="/favorites" routerLinkActive="active">
      <img class="favorite" src="../../assets/heart.svg" alt="favorites" />
    </a>
    <div class="theme" >
      <img src="../../assets/sun.svg" alt="theme" />
    </div>
  </div>
</nav>
