.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  padding: 30px 60px;

  > button {
    color: #090937;
    outline: none;
    border: none;
    background: none;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    > p {
      width: 100%;
      font-size: 2.4rem;
      font-weight: bold;
    }
  }

  .details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;;
    gap: 80px;

    aside {
      height: fit-content;
      padding: 30PX;
      border-radius: 10px;
      background-color: #F4F4FF;
      position: sticky;
      top: 150px;
      border: 2px solid rgba(9, 9, 55, 0.1);

      > img {
        width: 300px;
        height: 450px;
        border-radius: 5px;
      }
    }

    > div {
      display: flex;
      flex-direction: column;
      row-gap: 60px;
      width: 60%;

      > div {
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        > h2 {
          font-size: 4rem;
        }

        .author {
          font-size: 3.2rem;
          color: rgb(0, 0, 0, 0.6);
        }

        > div {
          display: flex;
          flex-direction: column;
          row-gap: 5px;

          .title {
            color: #090937;
            font-size: 2.2rem;
            font-weight: bold;
          }

          p {
            color: rgba(9, 9, 55, 0.6);
            font-size: 2rem;
            display: flex;
            text-align: justify;
          }
        }
      }
    }


  }
}
