@if (book) {
  <p-toast />
  <p-confirmPopup />
  <div class="container">
    <button (click)="goBack()">
      <img src="/arrow.svg" alt="arrow"/>
      <p>Book Details</p>
    </button>
    <div class="details">

      <aside>
        <img src="{{book.image}}" alt="{{book.name}}"/>
      </aside>

      <div>

        <div>
          <div class="header">
            <h2>
              {{ book.name }}
            </h2>
            <div class="buttons" >
              <button>
                <img src="/heart.svg" alt="heart icon" />
              </button>
              <p-button
                (click)="confirm1($event)"
                label="Save"
                [outlined]="true" />
              <p-button
                (click)="confirm2($event)"
                label="Delete"
                severity="danger"
                [outlined]="true" />
            </div>
          </div>
          <p class="author">
            {{ book.author }}
          </p>
        </div>

        <div class="description" >

          <div>
            <p class="title">Genres</p>
            <p>{{ book.genre.join(', ') }}</p>
          </div>

          <div>
            <p class="title">Publish Date</p>
            <p>{{ book.publishData }}</p>
          </div>

          <div>
            <p class="title">Summery</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad adipisci beatae est, ex excepturi
              fugiat laudantium libero non nostrum, obcaecati odio odit officiis quisquam repellat sequi voluptatem!
              Accusamus assumenda at atque commodi cumque cupiditate, delectus dolores doloribus, eaque est illum magnam
              magni molestias natus non provident quae, sit tenetur ullam unde vel voluptate voluptates voluptatum.
              Dicta, perferendis, tenetur. Accusamus adipisci alias amet architecto atque beatae consectetur
              consequuntur, debitis dolor doloremque dolores eaque eius esse facilis, fuga id illo in inventore ipsam
              iure laudantium maiores maxime, minima modi nesciunt nobis obcaecati officia omnis quos reiciendis rem
              repellat reprehenderit suscipit totam ullam velit voluptate! Consectetur, dignissimos eos, error est illo
              incidunt itaque laborum libero nostrum obcaecati perferendis quidem quisquam quos similique voluptates? A
              aliquid asperiores autem consequatur culpa deserunt ducimus, enim ex fugit incidunt inventore, nemo neque
              omnis quasi rerum. Accusantium aliquid fugiat fugit ipsam laborum laudantium minima natus, neque porro
              quam? Beatae blanditiis esse in iste, itaque maiores quaerat totam veritatis voluptate voluptates. Ab
              asperiores cupiditate, dignissimos ducimus eveniet itaque labore modi molestias neque nulla odit quos
              sapiente voluptatum! Adipisci aperiam consequatur doloremque earum eius exercitationem facere facilis
              fugit laborum magnam maiores minima molestiae odit optio placeat quaerat qui quibusdam quos, rerum sint
              tempore velit vero. Adipisci, est, iusto? Ad alias culpa cumque dolor dolore dolores ducimus eveniet id
              illo impedit incidunt labore magnam molestias mollitia nam natus nobis nostrum nulla numquam odit optio
              pariatur quaerat quam quas qui quos reprehenderit repudiandae sapiente sint soluta tempore velit vitae,
              voluptatem. Aliquam amet architecto asperiores aspernatur deleniti deserunt dicta ea eaque earum eos esse
              est eum eveniet expedita, fuga inventore ipsa iste iusto necessitatibus nemo nihil nobis odit omnis
              provident quia recusandae reiciendis rem repudiandae saepe velit veniam veritatis voluptate voluptatibus!
              Assumenda autem debitis eaque eligendi, exercitationem id ipsa maiores sint ut velit. Ab accusantium
              blanditiis cum cumque dicta dolorem doloribus eos est eveniet ex explicabo facere facilis id in, ipsam
              laborum molestiae nemo numquam quibusdam reiciendis repellendus saepe unde vitae! Aliquid dicta, ea
              explicabo nisi odit provident ut! At aut debitis dignissimos dolor dolores eaque eligendi esse
              exercitationem expedita facilis fugiat fugit in ipsum iure labore laudantium magnam nemo nisi numquam odio
              odit officiis omnis perspiciatis possimus praesentium, quasi repellendus sequi sint tempore temporibus
              tenetur vel vitae, voluptates! Aperiam deserunt distinctio dolorum id incidunt, labore molestias nam nemo
              nesciunt quam quia veniam. Ab distinctio doloribus exercitationem fugit inventore itaque obcaecati quia
              quos, ratione vel? Accusamus amet consectetur consequuntur cumque fugiat iure, maxime molestiae optio,
              perspiciatis quaerat quas quidem rem repellendus velit voluptas! Alias aliquid atque delectus dolorum id
              ipsa ipsum labore laudantium magni neque nobis odit perspiciatis provident rem sequi, similique,
              temporibus unde veritatis voluptas, voluptatibus. Aut exercitationem inventore ipsa ipsum modi numquam
              odio optio quas, quis quod quos tempore, veniam? Cum nemo nesciunt quam! Delectus iste rem repellendus
              totam voluptas. Aperiam aspernatur aut commodi deleniti dolores earum esse est facere facilis impedit iure
              laudantium officiis, repellat repellendus unde ut veniam veritatis! Debitis, deleniti impedit ipsum
              pariatur porro reiciendis voluptate. Labore.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
}
