@mixin center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin link {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #f4f4ff;
  border-radius: 5px;
  padding: 15px;
}

nav {
  @include center();
  padding: 25px 60px;
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  position: sticky;
  top: 0;
  z-index: 10;

  img {
    cursor: pointer;
  }

  .input {
    @include center();
    background-color: #f4f4ff;
    width: 50%;
    height: 50px;
    padding: 0 20px;
    border-radius: 10px;

    > input[type="text"] {
      width: 100%;
      height: 80%;
      border: none;
      outline: none;
      padding: 0 10px;
      font-size: 2rem;
      background-color: #f4f4ff;
    }
  }

  .links {
    @include center();
    gap: 24px;
  }

  a {
    @include link();
    text-decoration: none;

    > .profile {
      width: 25px;
      height: 25px;
    }

    > .favorite {
      width: 25px;
      height: 25px;
    }
  }

  .theme {
    @include link();
    padding: 10px;

    > img {
        width: 35px;
        height: 35px;
    }
  }
}
