<nav>
  <img
    (click)="navigate()"
    class="logo"
    ngSrc="/logo.svg"
    alt="logo"
    height="40"
    width="60"
  />
  <div class="input">
    <img ngSrc="{{ searchSrc }}" alt="search" height="20" width="20" />
    <input type="text" [formControl]="searchControl" placeholder="Search..." />
  </div>

  <div class="links">
    <ng-container
      *ngTemplateOutlet="
        navButton;
        context: {
          action: 'show',
          containerClass: 'addDataContainer',
          imageClass: 'addData',
          imageSrc: addSrc,
          alt: 'profile',
          height: 50,
          width: 50,
        }
      "
    ></ng-container>
    <ng-container
      *ngTemplateOutlet="
        navButton;
        context: {
          action: '',
          containerClass: 'favoriteContainer',
          imageClass: 'favorite',
          imageSrc: favoriteSrc,
          alt: 'favorites',
          height: 24,
          width: 20,
        }
      "
    ></ng-container>
    <ng-container
      *ngTemplateOutlet="
        navButton;
        context: {
          action: 'theme',
          containerClass: 'themeContainer',
          imageClass: null,
          imageSrc: themeSrc,
          alt: 'theme',
          height: 30,
          width: 30,
        }
      "
    ></ng-container>
  </div>
</nav>

<app-book-modal
  [visible]="this.visible"
  (visibleChange)="closeDialog()"
  [book]="null"
></app-book-modal>

<ng-template
  #navButton
  let-action="action"
  let-containerClass="containerClass"
  let-imageClass="imageClass"
  let-imageSrc="imageSrc"
  let-alt="alt"
  let-height="height"
  let-width="width"
>
  <p-button
    (click)="
      action === 'show'
        ? showDialog()
        : action === 'theme'
          ? changeTheme()
          : null
    "
    class="custom-button"
    [style]="{
      outline: 'none',
      padding: '0',
      border: 'none',
      'box-shadow': 'none',
      backgroundColor: 'transparent',
    }"
  >
    <div [class]="containerClass">
      <img
        [class]="imageClass ? imageClass : ''"
        [ngSrc]="imageSrc"
        [alt]="alt"
        [height]="height"
        [width]="width"
      />
    </div>
  </p-button>
</ng-template>
