<app-carousel></app-carousel>

@if (results.length == 0) {

  <div class="booksContainer">
    @for (group of genreBooks; track group) {
      <div>
        <app-book-cat-list [books]="group"></app-book-cat-list>
      </div>
    }
  </div>

} @else {

  <div class="search-books">
    <div (click)="goToDetails(book.name)" class="genreBook" *ngFor="let book of results">
      <div class="imageContainer">
        <img src="{{book.image}}" alt="{{book.name}}"/>
      </div>
      <div class="genre-detail">
        <div class="genreDetailHeader">
          <h3>{{ book.name }}</h3>
          <p>{{ book.author }}</p>
        </div>
        <p>$ {{ book.price }}</p>
      </div>
    </div>
  </div>

}
