<div class="container">
  @if (results.query === '') {
    <button (click)="goBack()">
      <img src="{{isLight? '/icons/light/arrow.svg':'/icons/dark/arrow-dark.svg'}}" alt="arrow"/>
      <p>{{ books.genreName }}</p>
    </button>
    <div class="books">
      <div (click)="goToDetails(book.name)" class="genreBook" *ngFor="let book of books.booksList">
        <div class="imageContainer">
          <img src="{{book.image}}" alt="{{book.name}}"/>
        </div>
        <div class="genre-detail">
          <div class="genreDetailHeader">
            <h3>{{ book.name }}</h3>
            <p>{{ book.author }}</p>
          </div>
          <p>$ {{ book.price }}</p>
        </div>
      </div>
    </div>
  } @else {
    <app-search></app-search>
  }
</div>
