<div class="container">
  <button (click)="goBack()">
    <img src="/arrow.svg" alt="arrow"/>
    <p>{{ books.genreName }}</p>
  </button>
  <div class="books">
    @if (results.length == 0) {
      <div (click)="goToDetails(book.name)" class="genreBook" *ngFor="let book of books.booksList">
        <div class="imageContainer">
          <img src="{{book.image}}" alt="{{book.name}}"/>
        </div>
        <div class="genre-detail">
          <div class="genreDetailHeader">
            <h3>{{ book.name }}</h3>
            <p>{{ book.author }}</p>
          </div>
          <p>$ {{ book.price }}</p>
        </div>
      </div>
    } @else {
      <div (click)="goToDetails(book.name)" class="genreBook" *ngFor="let book of results">
        <div class="imageContainer">
          <img src="{{book.image}}" alt="{{book.name}}"/>
        </div>
        <div class="genre-detail">
          <div class="genreDetailHeader">
            <h3>{{ book.name }}</h3>
            <p>{{ book.author }}</p>
          </div>
          <p>$ {{ book.price }}</p>
        </div>
      </div>
    }
  </div>
</div>
