<nav>
  <img class="logo" ngSrc="/logo.svg" alt="logo"/>
  <div class="input">
    <img ngSrc="/search.svg" alt="search"/>
    <input type="text" placeholder="Search"/>
  </div>
  <div class="links">
    <a routerLink="/profile" routerLinkActive="active">
      <img class="profile" ngSrc="/profile.svg" alt="profile"/>
    </a>
    <a routerLink="/favorites" routerLinkActive="active">
      <img class="favorite" ngSrc="/heart.svg" alt="favorites"/>
    </a>
    <div class="theme">
      <img ngSrc="/sun.svg" alt="theme" height="30" width="30"/>
    </div>
  </div>
</nav>
