<div class="genreContainer">
  <div class="genreContainerHeader">
    <h2>{{ books.genreName }}</h2>
    <a [routerLink]="['/genre', books.genreName.toLowerCase().replaceAll(' ', '-')]">View All</a>
  </div>
  <div class="genreBooks">
    <div (click)="goToDetails(book.name)" class="back-btn" *ngFor="let book of books.booksList.slice(0, 4)">
      <img src="{{book.image}}" alt="{{book.name}}"/>
      <div class="genreDetail">
        <div class="genreDetailHeader">
          <h3>{{ book.name }}</h3>
          <p>{{ book.author }}</p>
        </div>
        <p>$ {{ book.price }}</p>
      </div>
    </div>
  </div>
</div>
