<div class="genreContainer" >
  <div class="genreContainerHeader" >
    <h2>{{ books.genreName }}</h2>
    <button>View All</button>
  </div>
  <div class="genreBooks" >
    <div class="genreBook" *ngFor="let book of books.booksList.slice(0, 4)">
      <img src="{{book.image}}" alt="{{book.name}}"/>
      <div class="genreDetail" >
        <div class="genreDetailHeader" >
          <h3>{{ book.name }}</h3>
          <p>{{ book.author }}</p>
        </div>
        <p>{{ book.price }} $</p>
      </div>
    </div>
  </div>
</div>
